.cartButton {
    background: none;
    border: none;
    cursor: pointer;
}

.cartButton svg path {
    transition: fill .1s ease-in .1s;
}

.cartButton:hover svg path {
    fill: var(--grey400) !important;
}