.wrapper {
    position: relative;
}

.quantity {
    position: absolute;
    background: #EB5757;
    right: 0;
    top: -5px;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: 600;
}

.cartButton {
    background: none;
    border: none;
    cursor: pointer;
}

.cartButton svg path {
    transition: fill .1s ease-in .1s;
}

.cartButton:hover svg path {
    fill: var(--grey400) !important;
}