.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    min-height: 60vh;
    margin-bottom: 10px;
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
}

.amount span:last-child {
    font-weight: 400;
}

.discounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid var(--grey100);
    padding-bottom: 10px;
    font-weight: 500;
}

.discounts span:last-child {
    color: red;
    font-weight: 400;
}