.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;

    background-color: var(--grey100);
}

.wrapper a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.wrapper a:hover {
    text-decoration: underline;
}